{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div id="login-container">

    <section id="login-left">
        <img src="{{ asset('build/images/dall.png') }}" alt="Logo" class="logo">
    </section>

    <section id="login-right">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Tu es connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}


            <h1 class="h3 mb-3 font-weight-normal">Connectez-vous !</h1>
            <label for="inputPseudo_user">Votre mail : </label>
            <input type="text" value="{{ last_username }}" name="pseudo_user" id="inputPseudo_user" class="form-control" autocomplete="username" required autofocus>
            <label for="inputPassword">Mot de passe : </label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">


            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary button" type="submit">
                Sign in
            </button>

                <p> Pas encore inscrit ?
                <a href="{{ path('app_register') }}" class="{{ app.request.get('_route') == 'app_register' ? 'link-active' }}">S'inscrire</a>
                </p>
        </form>
    </section>
</div>


{% endblock %}
