{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div id="login-container">

        <section id="login-left">

        </section>

    <section id="login-right">
    {{ form_start(registrationForm) }}
    <h1>Créez votre compte</h1>
                {{ form_row(registrationForm.email, {
                    label: 'Email :',
                    'attr': {
                        'placeholder': 'adresse@mail.fr'
                    }
                }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe',
            'placeholder': 'SuperMotDePasse365$'
        }) }}
        {{ form_row(registrationForm.NaissanceUser, {
            label: 'Date de naissance :',
            'placeholder': '01/01/2000'
        }) }}

                <div class="conditions">
                    {{ form_row(registrationForm.agreeTerms, {
                        label: 'J\'accepte les <a class="links" target="_blank" href="' ~ path("app_cgu") ~ '">' ~ "conditions d'utilisation" ~ '</a>',
                        label_html: true,
                        'attr': {
                            'class': 'conditions_checkbox'
                        }
                    }) }}
                </div>

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </section>
    </div>



{% endblock %}
