{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}
{% block javascripts %}
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1>Votre compte :</h1>

		

						<div class="rate">
					{% if user.nb_victoires_user == 0 and user.nb_defaites_user == 0 and parties is empty %}
						<p>Bienvenue sur Codenames !</p>


					{% elseif user.nb_victoires_user == 0 and user.nb_defaites_user == 0 %}
						<p>Vous n'avez toujours pas terminer de partie, veuillez reprendre une partie ou alors <a href="{{ path('app_partie') }}" class="{{ app.request.get('_route') == 'app_partie' ? 'link-active' }}">créer une nouvelle partie</a></p>

					{% else %}

						<div class="canva">
							<canvas id="rate"></canvas>
						</div>


					{% endif %}
				</div>

						<section id="liste_parties">
							{% if parties is empty %}
								<p>Aucune partie trouvée. Si vous souhaitez créer une partie cliquez <a href="{{ path('app_partie') }}" class="{{ app.request.get('_route') == 'app_partie' ? 'link-active' }}">ICI</a></p>
							{% else %}
								<table>
									<thead>
										<tr>
											<th>Nom de la partie</th> 
											<th>Jetons en stock</th>
											<th>Lien :</th>
										</tr>
									</thead>
									<tbody>
										{% for partie in parties %}
											<tr>
												<td>{{ partie.NomPartie }}</td>
												<td>{{ partie.NbJetonsEnStock }}</td>



												<td><a href="/jeu/jeu/{{ partie.id }}/{{ partie.quiInput }}">Jouer</a></td>

											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% endif %}
						</section>


					

							
                        </tr>




<script>


    var donneesUser = {
        'victoires': {{ user.nb_victoires_user }},
        'defaites': {{ user.nb_defaites_user }}
    };


var options = {
	tooltips: {
		enabled: true,
	},
	responsive: true,
	plugins: {
		title: {
			text: "Taux de victoires",
			display: true,
		},
	},
};


    const rate = new Chart(document.getElementById("rate"), {
	type: "pie",
	data: {
		labels: ["Victoires", "Défaites"],
		datasets: [
			{

				backgroundColor: ["#D4E6B5", "#FFDF64"],
				hoverOffset: 4,
				data: [donneesUser.victoires, donneesUser.defaites],
			},
		],
	},
	options: options,
});


</script>
{% endblock %}
